.counter {
  margin: 2rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 30rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #fafafa;
}

.counter h1 {
  color: #575757;
  margin: 1rem;
  font-size: 1rem;
}

.value {
  font-size: 2.5rem;
  color: #53aaf5;
  margin: 1rem;
  font-weight: bold;
}

button, input[type="button"] {
  color: #838383;
  background-color: #fafafa;
  border: 1px solid #838383;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover,
button:active,
input[type="button"]:hover,
input[type="button"]:active {
  color: #2b2b2b;
}