.header {
  width: 85%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #53aaf5;
  color: white;
  padding: 0 10%;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover,
.header a:active {
  color: #1e3f59;
}

.header button {
  color: #838383;
  background-color: #fafafa;
  border: 1px solid #53aaf5;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.header button:hover,
.header button:active {
  color: #2b2b2b;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
